{% extends 'base.html' %}

{% block main %}
    
<div class="col d-flex flex-column justify-content-between" style="height: 55vh; margin-top: 10vh;">
    
    <!--The Reason-->
    <div id="reason" class="container-fluid">

        <div class="container-fluid d-flex flex-column align-items-center border border-2 border-black rounded-2 py-2 w-50">

            <p class="fs-1">Ever wanted to have you own Quoute?</p>
            <p class="fs-4 mt-3">Don't waste more time and claim your quote</p>

        </div>

    </div>

    <!--The call to action-->
    <div id="call" class="container d-flex justify-content-center">

        <button type="button" id="call-btn" class="fs-3">Unleash Your Wisdom!</button>
    
    </div>
</div>


{% endblock main %}