<div class="container-fluid mb-3">
    <div id="interaction" hx-swap="outerHTML" class="container-fluid border border-2 border-black rounded-2 py-3 w-50 mb-3">

        <form class="form">

            <div class="fs-1 mb-3">Account Info</div>

            <div class="mb-3" hx-target="this" hx-swap="outerHTML">
                <input type="email" hx-post="{{url_for('validation.validate_email')}}" name="useremail" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3" hx-target="this" hx-swap="outerHTML">
                <input type="password" hx-post="{{url_for('validation.validate_password')}}" name="userpassword" class="form-control text-dark" placeholder="Password">
            </div>

            <div class="fs-1 mb-3">Profile Details</div>
            
            <div class="mb-3" hx-target="this" hx-swap="outerHTML">
                <input type="text" hx-post="{{url_for('validation.validate_username')}}" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="mb-3" hx-target="this" hx-swap="outerHTML">
                <input type="text" hx-post="{{url_for('validation.validate_quote')}}" name="userquote" class="form-control" placeholder="Your Quote">
            </div>

            <button class="btn mt-2" hx-target="#interaction" hx-post="{{url_for('validation.validate_submit')}}">Create Account</button>

        </form>

    </div>
</div>
